---
# Quiz
---

$height: 25px;
$width: 200px;

#dragScriptContainer {
    text-align: center;
}

.dragDropSmallBox {
    width: $width;
}

#answerDiv {
    margin: 0 auto;
    height: 252px;
    width: $width + 2;
    border: 1px solid #aaa;
    padding: 2px;

    .dragDropSmallBox {
        border: 1px solid #000;
        cursor: pointer;
        margin-right: 2px;
        margin-bottom: 2px;
    }
}

#questionDiv {
    display: inline-block;

    .col {
        display: inline-block;
        // http://stackoverflow.com/questions/9273016/why-is-this-inline-block-element-pushed-downward
        vertical-align: top;
        padding: 2px;
    }

    .dragDropSmallBox {
        height: $width;
        background-color: #000;
        // vertical-align: middle;
        // position: relative;
    }

    img {
        max-height: 100%;
        // position: absolute;
        // top: 0;
        // bottom: 0;
        // margin: auto;
    }

    .destinationBox {
        background-color: #fff;
        width: $width;
        height: $height;
        margin-bottom: 20px;
    }

    .correctAnswer {
        background-color: green;
        color: #fff;
        border: none;
        height: $height;
    }

    .wrongAnswer {
        background-color: red;
        color: #fff;
        border: none;
        height: $height;
    }
}

#questionDiv .destinationBox.over {
    background-color: #777;
}

#answerDiv.over {
    background-color: #777;
}
