---
# Quiz
---

$height: 30px;
$width: 130px; // 200px

#dragScriptContainer {
    text-align: center;
}

.dragDropSmallBox {
    line-height: 2em;
    width: $width;
}

#answerDiv, #answerDiv1, #answerDiv2 {
    min-height: 28px;
    border: 1px solid #aaa;
    padding: 2px;

    .dragDropSmallBox {
        display: inline-block;
        background-color: #fff;
        cursor: pointer;
        margin-right: 2px;
        margin-bottom: 2px;
        width: 133px;
        height: $height;
    }
}

#questionDiv, #questionDiv1, #questionDiv2 {
    display: inline-block;

    .col {
        display: inline-block;
        // http://stackoverflow.com/questions/9273016/why-is-this-inline-block-element-pushed-downward
        vertical-align: top;
        padding: 2px;
    }

    .dragDropSmallBox {
        height: $width;
        background-color: #000;
        // vertical-align: middle;
        // position: relative;
    }

    img {
        max-height: 100%;
        -webkit-user-select: none;// Chrome / Safari
        -moz-user-select: none;// Firefox
        -ms-user-select: none;// IE 10+
        user-select: none;
        // position: absolute;
        // top: 0;
        // bottom: 0;
        // margin: auto;
    }

    .destinationBox {
        background-color: #fff;
        width: $width;
        height: $height;
        margin-bottom: 8px;

        .dragDropSmallBox {
            background-color: #444;
            color: #fff;
            border: none;
            height: $height;
        }

        .correctAnswer {
            color: #fff;
            background-color: green;
        }

        .wrongAnswer {
            color: #fff;
            background-color: red;
        }
    }
}

#questionDiv .destinationBox.over {
    background-color: #777;
}

#answerDiv.over {
    background-color: #777;
}

#overlay {
    visibility: hidden;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 100;
    background-color: rgba(0,0,0,.3);

    div {
        margin: 128px auto;
        background-color: #fff;
        padding: 20px;
        text-align: center;
    }
    
    #result {
        box-shadow: #333 0 0 10px;
    }
}
